.setItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f1f3f5; */
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
}

.setNumber {
  font-weight: 500;
  margin-bottom: 5px;
}

.setFields {
  display: flex;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputGroup label {
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.inputGroup input {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  font-size: 0.9rem;
}
