.createWorkout {
  width: 90%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f1f3f543;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workoutHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.finishWorkoutBtn {
  font-size: 1.5rem;
}

.workoutExercise {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.formActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.createBtn,
.cancelBtn {
  width: 60%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
  font-size: 1rem;
}

.createBtn {
  background-color: rgba(32, 112, 44, 1);
  color: white;
}

.cancelBtn {
  background-color: rgb(159, 1, 1);
  color: white;
}

.timerSection {
  margin: 20px 0;
  text-align: center;
}

.startBtn {
  background-color: #4caf50;
  color: white;
}

.pauseBtn {
  background-color: #ff9800;
  color: white;
}

.durationInfo {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
}
