.createWorkout {
  width: 90%;
  min-width: 400px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f1f3f543;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workoutHeader {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.timerSection {
  text-align: center;
  justify-self: center;
  align-self: center;
  min-width: max-content;
}

.workoutHeader input {
  width: 100%;
  border: none;
  color: white;
  transition: 0.3s;
  text-align: center;
  font-size: 2rem;
  /*TODO: have the font size scale with input */
  font-weight: bold;
  background-color: transparent;
}

.workoutHeader input:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.workoutHeader input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  color: white;
}

.createBtn {
  background-color: rgba(32, 112, 44, 1);
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.3s;
}

.createBtn:hover {
  background-color: var(--greenHover);
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.createBtn:active {
  transform: scale(0.9);
  transition: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--green);
}

.createBtn:disabled {
  background-color: rgba(32, 112, 44, 0.5);
  transform: scale(1);
}

.createBtn:disabled:hover {
  background-color: rgba(32, 112, 44, 0.5);
  transform: scale(1);
}

.workoutExercise {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.formActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.startBtn,
.pauseBtn,
.cancelBtn {
  width: 60%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
  font-size: 1rem;
}

.cancelBtn {
  background-color: rgb(159, 1, 1);
  color: white;
}

.startBtn {
  background-color: #4caf50;
  color: white;
}

.pauseBtn {
  background-color: #ff9800;
  color: white;
}

.durationInfo {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
}
