.exerciseItem {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.exerciseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exerciseHeader button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s;
}

.exerciseHeader button:hover {
  color: var(--orange);
}

.setsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.setHeader {
  display: grid;
  justify-items: center;
  grid-template-columns: 70px 1fr 1fr 70px;
  gap: 10px;
  padding: 8px;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
}

.addSetButton {
  margin-top: 10px;
  align-self: center;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.addSetButton:hover {
  color: var(--orange);
}
